## 相比之前自己做的相同项目，本例的学习目标更简单，用的数据集也有不同（ 数据量偏少、特征数偏少、没有测试集），跳过了数据探索的步骤

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
%matplotlib inline

In [2]:
df = pd.read_csv('adult.data.txt',header=None,names=['age','workclass','fnlwgt','education','education-num',
                    'marital-status','occupation','relationship','race','sex','capital-gain','capital-loss',
                        'hours-per-week','native-country','income'],index_col=False,encoding='utf-8')
df.head()
df.info()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## 避免数据失衡导致分类器产生偏差：采用20000个数据点，每个class各10000个

In [4]:
df.income.values[1]

' <=50K'

In [5]:
dataset = df[df.income == ' <=50K'][:10000].append(df[df.income == ' >50K'][:10000])
dataset.head()

## Convert string data to numeriacl data

In [59]:
cata_var=[column for column in df.columns if df[column].dtypes=="O"]

In [61]:
le = preprocessing.LabelEncoder()
catadf = df[cata_var].apply(le.fit_transform)

In [63]:
df[cata_var]=catadf

In [64]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0

In [66]:
X = df.iloc[:,:-1]
y = df['income']

## Build a classifier

In [67]:
classifier_gaussiannb = GaussianNB()
classifier_gaussiannb.fit(X, y)

GaussianNB(priors=None)

## Cross Validation to extract performance metrics

In [68]:
from sklearn import cross_validation

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.25,random_state=5)
classifier_gaussiannb = GaussianNB()
classifier_gaussiannb.fit(X_train, y_train)
y_test_pred = classifier_gaussiannb.predict(X_test)

/Users/linzhun/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

GaussianNB(priors=None)

In [70]:
print(y_test_pred)

[1 0 0 ..., 1 0 0]

In [69]:
# extract performance metrics
# compute F1 score of the classifier

f1 = cross_validation.cross_val_score(classifier_gaussiannb, X, y, scoring='f1_weighted', cv=5)
print("F1 score: " + str(round(100*f1.mean(),2)) + "%")

F1 score: 76.65%